# Node modules
node_modules/

# Compiled TypeScript
dist/

# Dependency directories
# If using Yarn, uncomment the line below
.pnp/
.pnp.js

# Environment variables
.env

# Editor directories and files
.vscode/
*.code-workspace

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
